body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: white;
    text-align: center;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('mapthings.jpg') center center/contain;
      /* Add blur effect to background */
    z-index: -1;
  }
  
  .rounded-rectangle {
    position: relative;
    border-radius: 15px;
    padding: 20px;
    margin-top: 15%;
    margin-left: 33%;
    width: 35%;
    text-align: left;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure content stays within bounds */
    z-index: 0;
  }
  
  .rounded-rectangle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-color: black;
    background: url('white.jpg') no-repeat center center/cover;
    filter: blur(20px); /* Blur the background image */
    z-index: -1; /* Ensure it's behind content */
  }
  
  .login {
    position: relative;
    z-index: 1; /* Ensure this is above the blurred background */
    color: black;
    font-weight: bold;
    text-align: right;
    margin-right: 150px;
  }

.title_login {
    font-size: 40px;
    margin-right: 12%;
    font-weight: bold;
}

.form {
    margin-top: 20px;
}

#content {
    width: 100%;
}
